#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    --text-color: #ffffff;
    --font-family:  "Courier New", Courier, monospace;
}

.App {
    font-family: var(--font-family); 
}

.App h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.App h5 {
    font-size: 1rem;
    color: #888;
}
